_build/default/.dune
_build/default/bin/.main.eobjs
_build/default/bin/.merlin-conf
_build/default/bin/main.exe
_build/default/lib/.SABM.objs
_build/default/lib/.merlin-conf
_build/install/default/bin
_build/.db
_build/.digest-db
_build/.filesystem-clock
_build/.lock
_build/log
_build/default
test.txt
plot_test.png
avg.txt
SA_sdjn_5.png
SA_sdjn_10.png
SA_sch_5.png
SA_sch_10.png
SA_fdjn_5.png
SA_fdjn_10.png
SA_avg.png
SA.png
RS_avg.png
RS.png
Comparison.png
results.txt
Dependencies/nix-pkgs/plplot/result
1000_0.01
.direnv
